/* ----------------------------------------------------------------
	Dark Scheme
-----------------------------------------------------------------*/


.dark,
.dark h4 { color: #EEE; }

.dark a:hover { color: #EEE; }

#header.full-header.dark #header-wrap:not(.not-dark) { border-bottom-color: rgba(255,255,255,0.15); }

#header.transparent-header.full-header.dark:not(.sticky-header) #header-wrap:not(.not-dark) { border-bottom-color: rgba(255,255,255,0.2); }

.dark #logo a { color: #FFF; }

#header.full-header.dark #header-wrap:not(.not-dark) #logo { border-right-color: rgba(255,255,255,0.15); }

#header.transparent-header.full-header.dark:not(.sticky-header) #header-wrap:not(.not-dark) #logo { border-right-color: rgba(255,255,255,0.2); }


.dark #header-wrap:not(.not-dark) #primary-menu > ul > li > a,
.dark #header-wrap:not(.not-dark) #side-panel-trigger a,
.dark #header-wrap:not(.not-dark) #side-panel-trigger a:hover {
	color: #EEE;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

#header.full-header.dark #header-wrap:not(.not-dark) #primary-menu > ul { border-right-color: rgba(255,255,255,0.15); }

#header.transparent-header.full-header.dark:not(.sticky-header) #header-wrap:not(.not-dark) #primary-menu > ul { border-right-color: rgba(255,255,255,0.2); }

.dark #header-wrap:not(.not-dark) #primary-menu > ul > li:hover > a { color: #EEE; }

.dark .button:hover { background-color: rgba(0,0,0,0.3); }

.dark .social-icon {
	color: #DDD !important;
	border-color: #DDD;
}

.dark .social-icon i:last-child { color: #FFF !important; }

.dark .social-icon:hover {
	color: #FFF !important;
	border-color: transparent;
}


#footer.dark {
	background-color: #333;
	color: #CCC;
	border-top-color: rgba(0,0,0,0.2);
}

.dark #copyrights {
	background-color: rgba(0,0,0,0.2);
	color: rgba(255,255,255,0.25);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}


.dark .footer-widgets-wrap a { color: #CCC; }

.dark .footer-widgets-wrap a:hover { color: #999; }

.dark .widget h4 { color: #DDD; }

.dark .widget p { opacity: 0.8; }


/* Dark Scheme - Bootstrap
-----------------------------------------------------------------*/


@media (max-width: 991px) {

	#header.dark.transparent-header {
		background-color: #333;
		border-bottom-color: rgba(255,255,255,0.1);
	}

	.dark #primary-menu:not(.not-dark) ul li { border-top-color: rgba(255,255,255,0.1) !important; }

}

