/* ----------------------------------------------------------------
	Fonts

	Replace your Fonts as necessary
-----------------------------------------------------------------*/



body,
small { font-family: 'Lato', sans-serif; }

h2,
h3,
h4,
#logo,
#primary-menu ul li > a { font-family: 'Raleway', sans-serif; }

.more-link { font-family: 'Crete Round', serif; }

.font-body { font-family: 'Lato', sans-serif !important; }


/* ----------------------------------------------------------------
	You can change your Font Specific Settings here
-----------------------------------------------------------------*/


body { line-height: 1.5; }

h2,
h3,
h4 {
	font-weight: 600;
	line-height: 1.5;
}

#logo {
	font-size: 36px;
	line-height: 100%;
}

#primary-menu ul li > a {
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.more-link { font-style: italic; }
