/* ----------------------------------------------------------------
	Responsive CSS
-----------------------------------------------------------------*/


@media (min-width: 992px) and (max-width: 1199.98px) {

	#wrapper { width: 1000px; }

	/* ----------------------------------------------------------------
	Portfolio
	-----------------------------------------------------------------*/

	/* Portfolio - Sidebar
	-----------------------------------------------------------------*/

	/* Portfolio - Both Sidebars - Items - 2 Columns
	-----------------------------------------------------------------*/

	/* Portfolio - Items - 1 Column
	-----------------------------------------------------------------*/

	/* Blog - Small
	-----------------------------------------------------------------*/


	/* Blog - Medium Post List
	-----------------------------------------------------------------*/


	/* Shop - 1 Column - Both Sidebar
	-----------------------------------------------------------------*/

}


@media (max-width: 991.98px) {

	#wrapper {
		width: 100%;
		margin: 0;
		box-shadow: none;
	}

	#header.full-header .container {
		padding: 0 15px !important;
		margin: 0 auto;
		width: 750px !important;
	}

	#header,
	#header-wrap { height: auto !important; }

	#header.transparent-header {
		background: #FFF;
		border-bottom: 1px solid #F5F5F5;
		z-index: auto;
	}

	#header.dark.transparent-header {
		background-color: #333;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}

	#header.transparent-header + #slider {
		top: 0;
		margin-bottom: 0;
	}

	#logo {
		display: block;
		height: 100px;
		float: none;
		margin: 0 auto 0 !important;
		max-width: none;
		text-align: center;
		border: 0 !important;
		padding: 0 !important;
	}

	#logo a.standard-logo { display: inline-block; }

	#primary-menu {
		display: block;
		float: none;
	}

	#primary-menu-trigger {
		opacity: 1;
		pointer-events: auto;
		top: 25px;
		margin-top: 0;
		left: 0;
		z-index: 1;
	}

	#primary-menu > ul {
		display: none;
		float: none !important;
		border: 0 !important;
		padding: 0 !important;
		margin: 0 !important;
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
	}

	body:not(.top-search-open) #primary-menu-trigger {
		opacity: 1;
		-webkit-transition: opacity .2s .2s ease, top .4s ease;
		-o-transition: opacity .2s .2s ease, top .4s ease;
		transition: opacity .2s .2s ease, top .4s ease;
	}

	body.side-push-panel #side-panel-trigger-close a {
		display: block;
		position: absolute;
		z-index: 12;
		top: 0;
		left: auto;
		right: 0;
		width: 40px;
		height: 40px;
		font-size: 18px;
		line-height: 40px;
		color: #444;
		text-align: center;
		background-color: rgba(0,0,0,0.1);
		border-radius: 0 0 0 2px;
	}

	#primary-menu ul li {
		float: none;
		margin: 0 !important;
		text-align: left !important;
		border-top: 1px solid #EEE;
	}

	#primary-menu ul li:first-child { border-top: 0; }

	#primary-menu ul > li > a {
		padding: 14px 5px !important;
		border: none !important;
		margin: 0 !important;
	}

	#side-panel-trigger {
		position: absolute;
		top: 0;
		left: auto;
		right: 15px;
		margin: 40px 0;
		-webkit-transition: margin .4s ease;
		-o-transition: margin .4s ease;
		transition: margin .4s ease;
	}

	#side-panel-trigger { right: 71px; }


	/* Responsive Sticky Header
	-----------------------------------------------------------------*/


	/* Off Canvas Menu
	-----------------------------------------------------------------*/

	/* Portfolio - Items
	-----------------------------------------------------------------*/

	/* Portfolio - Items - 2 Columns - No Margin
	-----------------------------------------------------------------*/

	/* Portfolio - Items - 1 Column
	-----------------------------------------------------------------*/

	/* Portfolio - Items - 1 Column - Full Width
	-----------------------------------------------------------------*/


	/* Blog - Grid
	-----------------------------------------------------------------*/

	/* Blog - Grid - 3 Columns
	-----------------------------------------------------------------*/

}


@media (max-width: 767.98px) {

	body { padding: 0 !important; }

	#wrapper { width: 100% !important; }

	h2 { font-size: 24px; }

	h3 { font-size: 20px; }

	h4 { font-size: 16px; }

	.col_full,
	.col_half,
	.col_one_third,
	.col_two_third {
		width: 100%;
		margin-right: 0;
		float: none;
		margin-bottom: 50px !important;
	}

	.col_last { float: none; }

	form .col_full,
	form .col_half,
	form .col_one_third,
	form .col_two_third { margin-bottom: 25px !important; }


	/* Portfolio - Filter
	-----------------------------------------------------------------*/


	/* Blog
	-----------------------------------------------------------------*/

	/* Cookie Notifications
	-----------------------------------------------------------------*/

	/* Copyrights
	-----------------------------------------------------------------*/

}

@media (min-width: 576px) and (max-width: 767.98px) {

	#header.full-header .container { width: 540px !important; }

	/* Portfolio - Items
	-----------------------------------------------------------------*/

	/* Portfolio - Items - 5 & 6 Columns
	-----------------------------------------------------------------*/

	/* Portfolio - Items - Descriptions
	-----------------------------------------------------------------*/

	/* Portfolio - Items - Overlay
	-----------------------------------------------------------------*/

}

@media (max-width: 575.98px) {

	.container,
	#header.full-header .container {
		width: 100% !important;
		padding-left: 40px !important;
		padding-right: 40px !important;
	}

	#primary-menu-trigger { left: 20px; }

	#side-panel-trigger { right: 68px; }

}


/* ----------------------------------------------------------------
	Retina CSS
-----------------------------------------------------------------*/


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

	#logo a.standard-logo { display: none; }

	#logo a.retina-logo { display: block; }

	.form-process {
		background-image: url('../images/preloader@2x.gif');
		background-size: 24px 24px;
	}

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 991.98px),
only screen and (   min--moz-device-pixel-ratio: 2) and (max-width: 991.98px),
only screen and (     -o-min-device-pixel-ratio: 2/1) and (max-width: 991.98px),
only screen and (        min-device-pixel-ratio: 2) and (max-width: 991.98px),
only screen and (                min-resolution: 192dpi) and (max-width: 991.98px),
only screen and (                min-resolution: 2dppx) and (max-width: 991.98px) {
	#logo a.standard-logo { display: none; }
	#logo a.retina-logo { display: inline-block; }
}

