/* ----------------------------------------------------------------
	CSS Specific to the One Page Module

	Some of the CSS Codes have been modified from the Original
	style.css File to match the Minimal Styling of this Module

	Version: 5.9
-----------------------------------------------------------------*/



/* ----------------------------------------------------------------------------
	Header
---------------------------------------------------------------------------- */

#header { border-bottom: 0; }

#header #header-wrap {
	z-index: 199;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #FFF;
	-webkit-transition: height .4s ease, background-color .4s ease, opacity .3s ease;
	-o-transition: height .4s ease, background-color .4s ease, opacity .3s ease;
	transition: height .4s ease, background-color .4s ease, opacity .3s ease;
}

#header.full-header:not(.border-full-header):not(.sticky-header) #header-wrap { border-bottom: 0; }

#header.transparent-header:not(.sticky-header) #header-wrap { background-color: transparent; }

#header.transparent-header + #slider {
	top: -70px;
	margin-bottom: -70px;
}

#header.full-header #logo { border-right: 0; }

#header.full-header #primary-menu > ul {
	padding-right: 0;
	margin-right: 0;
	border-right: 0;
}


#header,
#header-wrap,
#logo img {
	height: 70px;
	-webkit-transition: height .4s ease, opacity .3s ease;
	-o-transition: height .4s ease, opacity .3s ease;
	transition: height .4s ease, opacity .3s ease;
}


/* Sticky Header
---------------------------------------------------------------------------- */


/* Side Header
---------------------------------------------------------------------------- */


/* Primary Menu
---------------------------------------------------------------------------- */

#primary-menu ul li a {
	padding: 24px 22px;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 3px;
}


/* Side Panel
---------------------------------------------------------------------------- */

body.side-push-panel.stretched #header .container { right: 0; }

#side-panel-trigger {
	margin-top: 25px;
	margin-bottom: 25px;
}


/* ----------------------------------------------------------------------------
	Page Section
---------------------------------------------------------------------------- */

.page-section { padding: 120px 0; }


/* ----------------------------------------------------------------------------
	Heading Block
---------------------------------------------------------------------------- */


/* ----------------------------------------------------------------------------
	Portfolio Overlay
---------------------------------------------------------------------------- */


/* ----------------------------------------------------------------------------
	Buttons
---------------------------------------------------------------------------- */

.button.button-border {
	font-weight: 400;
	letter-spacing: 2px;
	font-size: 13px;
}

.button.button-border.button-light {
	border-color: #F9F9F9;
	color: #F9F9F9;
}

.button.button-border.button-light:hover {
	background-color: #F9F9F9;
	color: #333;
	text-shadow: none;
}


/* More Link
---------------------------------------------------------------------------- */

.more-link {
	font-weight: 400;
	border-bottom-width: 1px;
	font-style: normal;
}

.more-link i.icon-angle-right {
	position: relative;
	top: 2px;
	margin-left: 3px;
}


/* ----------------------------------------------------------------------------
	Team & Testimonials
---------------------------------------------------------------------------- */


/* Page Menu - Dots Style
-----------------------------------------------------------------*/


/* Border Form Design
---------------------------------------------------------------------------- */

.border-form-control {
	height: 48px;
	padding: 8px 4px;
	font-size: 21px;
	letter-spacing: 1px;
	background-color: transparent !important;
	border-top: transparent;
	border-right: transparent;
	border-left: transparent;
	border-bottom-width: 1px;
	font-family: 'Source Sans Pro', sans-serif;
}

.border-form-control::-moz-placeholder { font-weight: 300; }
.border-form-control:-ms-input-placeholder { font-weight: 300; }
.border-form-control::-webkit-input-placeholder { font-weight: 300; }

textarea.border-form-control {
	resize: none;
	overflow: hidden;
	word-wrap: break-word;
}


/* ----------------------------------------------------------------------------
	Helper CSS Styles
---------------------------------------------------------------------------- */

.font-body { font-family: 'Roboto', sans-serif !important; }



/* ----------------------------------------------------------------------------
	Footer Widgets
---------------------------------------------------------------------------- */

#footer .widget { padding: 30px 0; }

#footer .widget > h4 {
	margin-bottom: 50px;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 3px;
	text-transform: uppercase;
}



#footer .widget ul.footer-site-links li {
	margin: 5px 0;
	font-size: 17px;
	letter-spacing: 1px;
	font-weight: 300;
}


#footer .widget .form-control { text-align: center; }

.widget p.lead {
	font-size: 17px;
	letter-spacing: 1px;
	line-height: 1.6;
}


/* ----------------------------------------------------------------------------
	Services Grid
---------------------------------------------------------------------------- */


/* ----------------------------------------------------------------------------
	One Page Module: Slider Specifics
---------------------------------------------------------------------------- */


/* Large One Word in Slider
---------------------------------------------------------------------------- */


/* Medium One Word in Slider
---------------------------------------------------------------------------- */


/* Medium Before Heading
---------------------------------------------------------------------------- */


/* Large Counter in Slider
---------------------------------------------------------------------------- */


/* Slider Grid Blocks
---------------------------------------------------------------------------- */



/* Content Switch
---------------------------------------------------------------------------- */



/* Hero Video Play Event
---------------------------------------------------------------------------- */



/* ----------------------------------------------------------------------------
	Dark
---------------------------------------------------------------------------- */


/* ----------------------------------------------------------------------------
	Responsive
---------------------------------------------------------------------------- */


@media (max-width: 991px) {

	#logo { height: 70px !important; }

	#header { min-height: 70px; }

	#header.transparent-header:not(.sticky-header) #header-wrap {
		background-color: #FFF;
		border-bottom: 1px solid #EEE;
	}

	#header.transparent-header.dark:not(.sticky-header) #header-wrap {
		background-color: #333;
		border-bottom-color: rgba(255,255,255,0.1) !important;
	}

	#header.transparent-header:not(.hidden) + #slider {
		top: 0;
		margin-bottom: 0;
	}

	#primary-menu-trigger { top: 10px !important; }

	#side-panel-trigger {
		margin: 25px 0 !important;
		right: 15px !important;
	}

	#header.dark.transparent-header #header-wrap {
		background-color: #333;
		border-bottom-color: rgba(255,255,255,0.1);
	}

}

