/*-----------------------------------------------------------------------------

-	Revolution Slider 5.0 Layer Style Settings -

Screen Stylesheet

version:   	5.0.0
date:      	18/03/15
author:		themepunch
email:     	info@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tp-caption.NotGeneric-Title,.NotGeneric-Title
{
	background-color:transparent;
	border-color:transparent;
	border-radius:0 0 0 0;
	border-style:none;
	border-width:0;
	color:rgba(255,255,255,1.00);
	font-family:Raleway;
	font-size:70px;
	font-style:normal;
	font-weight:800;
	line-height:70px;
	padding:10px 0;
	text-decoration:none;
}

.tp-caption.NotGeneric-SubTitle,.NotGeneric-SubTitle
{
	background-color:transparent;
	border-color:transparent;
	border-radius:0 0 0 0;
	border-style:none;
	border-width:0;
	color:rgba(255,255,255,1.00);
	font-family:Raleway;
	font-size:13px;
	font-style:normal;
	font-weight:500;
	letter-spacing:4px;
	line-height:20px;
	padding:0;
	text-align:left;
	text-decoration:none;
}

.tp-caption.NotGeneric-Icon,.NotGeneric-Icon
{
	background-color:rgba(0,0,0,0);
	border-color:rgba(255,255,255,0);
	border-radius:0 0 0 0;
	border-style:solid;
	border-width:0;
	color:rgba(255,255,255,1.00);
	font-family:Raleway;
	font-size:30px;
	font-style:normal;
	font-weight:400;
	letter-spacing:3px;
	line-height:30px;
	padding:0;
	text-align:left;
	text-decoration:none;
}

.tp-caption.Hero-Button,.Hero-Button
{
	background-color:rgba(0,0,0,0);
	border-color:rgba(255,255,255,0.50);
	border-radius:0 0 0 0;
	border-style:solid;
	border-width:1px;
	color:rgba(255,255,255,1.00);
	font-family:Raleway;
	font-size:14px;
	font-style:normal;
	font-weight:500;
	letter-spacing:3px;
	line-height:14px;
	padding:10px 30px;
	text-align:left;
	text-decoration:none;
}

.tp-caption.Hero-Button:hover,.Hero-Button:hover
{
	background-color:rgba(255,255,255,1.00);
	border-color:rgba(255,255,255,1.00);
	border-radius:0 0 0 0;
	border-style:solid;
	border-width:1px;
	color:rgba(0,0,0,1.00);
	text-decoration:none;
}

/* media queries */
.rev_slider {
    overflow: hidden;
}
    .rev_slider {
        overflow: hidden;
    }
